{% extends 'base.html' %}
{% block content %}

<h1>New Store</h1>

<form method="POST">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>
        <ul>
            {% for error in form.title.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
            {% for error in form.address.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.title.label }}
        {{ form.title }}

        {{ form.address.label }}
        {{ form.address }}

        {{ form.submit }}

        <!-- TODO: Remove the next paragraph and use the `form` object passed in 
            from the route to render a form. -->


        <input type="submit" value="Submit">
    </fieldset>
</form>


{% endblock %}
